body{
	font: normal 18px/1.2 '굴림', gulim, '맑은 고딕', Arial, sans-serif;
}
.content-row{
	clear: both;
	width: 100%;
	text-align: center;
}
.gutter{
	margin: 0 auto;
}

/*------------    Head    ------------*/
.head{
	border-bottom: 3px solid #d3cfcf;
}
.head-top{
	position: relative;z-index: 10;
	
}
@media(min-width: 640px){
	.head-top{
		height: 56px;
		padding: 21px 0 0 0;
	}
}
@media(min-width: 998px){
	.head-top{
		height: 64px;
		padding: 56px 0 24px;
	}
}
@media(min-width: 1054px){
	.head-top{
		height: 64px;
		padding: 56px 0 24px;
	}
}
.head-top .gutter{
	position: relative;
}
h1{
	float: left;
	margin-left: 52px;
	width:106px;height:46px;
	background: url(../img/main/ir_icon.png) no-repeat -10px -60px;
	text-indent: -9999px;
}
.btn-book{
	display: block;
	float: right;
	width:31px;height:31px;margin-top: 5px;
	background: url(../img/main/ir_icon.png) no-repeat -180px -100px;
	text-indent: -9999px;
	border: 0 none;
}
.select-lang{
	float: right;
	width: 56px;margin-top: -20px;
	overflow: hidden;
}
.select-lang a{
	float: left;
	display: block;
	margin-right: 8px;width:24px;height:19px;
	background: url(../img/main/ir_icon.png) no-repeat;
	background-position:-90px 0;
	text-indent: -8888px;
}
.select-lang a.lang-en{
	margin-right: 0;
	background-position:-120px 0
}
.head .menu-box{
	position: absolute;left: -1px;top: 32px;
	width: 100%;overflow: hidden;
}
.gnb{
	float: right;
	overflow: hidden;
}
.menu-bg.active:after{
	content: '';
	position: absolute;
	top: 56px;left: 0;bottom: 0;z-index: -1;
	width: 100%;
	background: #787776;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-khtml-opacity: 0.9;
	-moz-opacity: 0.9;
	opacity: 0.9;
}
.dep1{
	display: block;
	padding: 10px 24px 24px;
	text-align: center;
	font-family: 'wHYGothic_A1_200';font-size: 18px;color: #3f3f3f;
}
.dep1-row{
	float: left;
	text-align: center;
}
.dep2-group{
	clear: both;
	padding: 20px 0 52px;
}
.head .dep2-group:after{
	content: "";
	position: absolute;
	top: 80px;bottom: 20px;
	z-index: -1;
	width: 181px;display: block;
	border-left: 1px solid #908e8d;
}
.head .dep1-row:first-child .dep2-group:after{
	border-left: 0 none;
}
a.dep2{
	display: block;
	padding: 8px 0px;
	text-align: center;
	font-family: 'wHYGothic_A1_300';font-size: 15px;color: #fff;
}
a.dep2:hover{
	text-decoration: underline;
}

@media(min-width: 320px){
	.gutter{
		width: 100%
	}
}
@media(min-width: 640px){
	h1{
		margin-left: 32px;
		width:95px;height:41px;
		background-position:-10px -120px
	}
	.btn-book{
		margin-right: 32px;
		cursor: pointer;
	}
}
@media(min-width: 998px){
	.gutter{
		/*width: 100%*/
	}
	h1{
		margin-left: 52px;
		width:106px;height:46px;
		background-position: -10px -60px;
	}

}
@media(min-width: 1054px){
	.gutter{
		width: 1024px;
	}
	h1{
		margin-left: 52px;
		width:106px;height:46px;
		background-position: -10px -60px;
	}
}

/*------------    Body    ------------*/
.body{
	clear: both;
	overflow: hidden;
}
table{
	width: 100%;
	border-collapse: collapse;
}
.bread-crumb{
	overflow: hidden;
}
.bread-crumb li{
	float: left;
}
.bread-crumb li a{
	display: block;
}
@media(min-width: 640px){
	.body{
		padding-bottom: 5px;
	}
}
@media(min-width: 1054px){
	.body{
		padding-bottom: 60px;
	}
}

/*------------    Foot    ------------*/
.foot{
	clear: both;
	overflow: hidden;
}
.foot-top{
	height: 42px;
	padding-top: 24px;
	background: #d4d4d4;text-align: center;
}
.foot-top .gutter{
	font-family: "wHYGothic_A1_200";
	color: #363636;
}
.foot-top .gutter strong:first-child + strong{
	color:#ec583a;font-family: "wHYGothic_A1_550";
}

.foot-body{
	padding: 45px 15px 60px;
	overflow: hidden;
	background: #606060;
}
.foot-tail{
	padding: 26px 0 62px;
	background: #fff;
}

.foot .menu-box{
	float: left;
	overflow: hidden;
}
.foot .menu-box ul{
	float: left;
	overflow: hidden;
}
.foot-menu-01{
	margin-right: 52px;
}
.foot-menu-02{
	margin-right: 36px;
}
.foot .dep1-row{
	clear: left;
}
.foot .dep1{
	padding: 0;
	color: #fff;text-align: left;
}
.foot .dep2-group{
	padding: 10px 0px 23px;
}
.foot .dep2{
	text-align: left;
	padding: 6px 0;
}

.foot .location h4{
	position: relative;
	font-size: 22px;font-family: 'wHYGothic_A1_800';color: #fff

}
.foot .location h4 span{
	position: absolute;
	width:43px;height:2px;
	background: url(../img/main/ir_icon.png) no-repeat 0px 0px
}
.foot .location p{
	margin-top: 15px;
	font-size: 14px;font-family: 'wHYGothic_A1_400';color: #fff;line-height: 1.4;
}
.foot .location img{
	display: block;
}
.foot-tail{
	text-align: center;
	color: #454545;
}
.copyright{
	font-size: 14px;font-family: 'wHYGothic_A1_150';color: #454545
}
@media(min-width: 640px){
	.foot .gutter{
		width: 100%;
	}
	.foot-top .gutter{
		font-size:20px;
	}
	.foot .location{
		float: none;
		margin-top: 6px;
		text-align: center;
	}
	.foot .location h4 span{
		right: 50%;top: -5px;margin-right: -21px;
	}
	.foot .location img{
		margin: 20px auto 0;
	}
}
@media(min-width: 998px){
	.foot .location img{
		margin-top: 15px;
	}
	.foot-top .gutter{
		font-size:24px;
	}
	.foot .location{
		float: right;
		margin-top: 6px;
		text-align: right;
	}
	.foot .location h4 span{
		right: 0;top: -5px;
		margin-right: 0;
	}
	.foot .location img{
		margin: 15px 0 0 0;
	}
}
@media(min-width: 1025px){
	.foot .gutter{
		width: 1024px;
	}
	.foot .location img{
		margin-top: 15px;
	}
	.foot-top .gutter{
		font-size:24px;
	}
	.foot .location{
		float: right;
		margin-top: 6px;
		text-align: right;
	}
	.foot .location h4 span{
		right: 0;top: -5px;
		margin-right: 0;
	}
	.foot .location img{
		margin: 15px 0 0 0;
	}
}
