body{
	font: normal 18px/1.2 '굴림', gulim, '맑은 고딕', Arial, sans-serif;
}
.content-row{
	clear: both;
	width: 100%;overflow: hidden;
	text-align: center;
}
.gutter{
	margin: 0 auto;
}

/*------------    Head    ------------*/
.head{
	border-bottom: 3px solid #d3cfcf;
}
.head-top{
	position: relative;z-index: 10;
	
}
@media(min-width: 320px){
	.head-top{
		height: 43px;
		padding: 20px 0 0 0;
	}
}
@media(min-width: 640px){
	.head-top{
		height: 56px;
		padding: 21px 0 0 0;
	}
}
@media(min-width: 998px){
	.head-top{
		height: 64px;
		padding: 56px 0 24px;
	}
}
@media(min-width: 1054px){
	.head-top{
		height: 64px;
		padding: 56px 0 24px;
	}
}
.head-top .gutter{
	position: relative;
}
h1{
	float: left;
	margin-left: 52px;
	width:106px;height:46px;
	background: url(../img/main/ir_icon.png) no-repeat -10px -60px;
	text-indent: -9999px;
}
h1 a{
	display: block;
}
.btn-book{
	display: block;
	float: right;
	width:31px;height:31px;
	background: url(../img/main/ir_icon.png) no-repeat -180px -100px;
	text-indent: -9999px;
	border: 0 none;
}
.select-lang{
	float: right;
	width: 56px;margin-top: -20px;
	overflow: hidden;
}
.select-lang a{
	float: left;
	display: block;
	margin-right: 8px;width:24px;height:19px;
	background: url(../img/main/ir_icon.png) no-repeat;
	background-position:-90px 0;
	text-indent: -8888px;
}
.select-lang a.lang-en{
	margin-right: 0;
	background-position:-120px 0
}
.head .menu-box-tit{
	position: absolute;left: 34px;top: 95px;
	width: 192px;
}
.head .menu-box-tit p{
	font-family: 'wHYGothic_A1_300';font-size: 14px;color: #fff;
}
.head .menu-box-tit a{
	display: block;
	margin-top: 12px;
	font-family: 'wHYGothic_A1_600';font-size: 24px;color: #fff;
	text-decoration: underline;font-weight: bold;
}
.gnb{
	overflow: hidden;
}
.dep1{
	font-family: 'wHYGothic_A1_200';
}
.dep2{
	font-family: 'wHYGothic_A1_300';
}
.dep1 span,
.dep2 span,
.dep2 cite{
	display: inline-block;
	float: right;
	background: url(../img/main/ir_icon.png) no-repeat ;
}

@media(min-width: 320px){
	.gutter{
		width: 100%
	}
	h1{
		margin-left: 20px;
		width:68px;height:29px;
		background-position:-10px -160px
	}
	.btn-book{
		margin-right: 30px;margin-top: 0px;
		cursor: pointer;
	}
	.head .menu-box-tit{
		display: none;
	}
	.head .menu-box{
		clear: both;
		position: relative;
		top: 16px;
	}
	.gnb{
		float: none;position: absolute;width: 100%;
	}
	a.dep1{
		display: block;
		padding: 8px 0 8px 19px;
		background: #757575;
		border-bottom: 1px solid #999999;
		font-size: 15px;color: #f6f6f6;
	}
	a.dep1:hover{
		text-decoration: underline;
	}
	.dep1 .deco-plus{
		margin:5px 34px 0 0;
		width:8px;height:7px;
		background-position:-250px -20px
	}
	.dep1 .deco-minus{
		width:8px;height:1px;
		margin: 10px 34px 0 0;
		background-position:-260px 0
	}
	a.dep2{
		display: block;
		padding: 9px 0 7px 28px;
		background: #3a3a3a;
		border-top: 1px solid #707070;
		font-size: 13px;color: #fff;
	}
	.dep2 span{
		margin-right: 53px;
		width:7px;height:10px;
		background-position:-250px 0
	}
	.dep2-group li:first-child .dep2{
		border-top: 0 none;
	}
	a.dep2:hover{
		text-decoration: underline;
	}
	.dep2 cite{
		float: left;
		margin: 5px 8px 0 0;
		width: 3px;height: 3px;
		background-position:-250px -190px;
	}
}
@media(min-width: 640px){
	h1{
		margin-left: 32px;
		width:95px;height:41px;
		background-position:-10px -110px
	}
	.btn-book{
		margin-right: 30px;margin-top: 5px;
		cursor: pointer;
	}
	.head .menu-box-tit{
		display: none;
	}
	.head .menu-box{
		clear: both;
		position: relative;
		top: 16px;
	}
	.gnb{
		float: none;position: absolute;width: 100%;
	}
	a.dep1{
		display: block;
		padding: 8px 0 8px 24px;
		background: #757575;
		border-bottom: 1px solid #999999;
		font-size: 15px;color: #f6f6f6;
	}
	a.dep1:hover{
		text-decoration: underline;
	}
	
	.dep1 .deco-plus{
		margin:5px 34px 0 0;
		width:8px;height:7px;
		background-position:-250px -20px
	}
	.dep1 .deco-minus{
		width:8px;height:1px;
		margin: 10px 34px 0 0;
		background-position:-260px 0
	}
	a.dep2{
		display: block;
		padding: 9px 0 7px 45px;
		background: #3a3a3a;
		border-top: 1px solid #707070;
		font-size: 13px;color: #fff;
	}
	.dep2 span{
		margin-right: 53px;
		width:7px;height:10px;
		background-position:-250px 0
	}
	.dep2-group li:first-child .dep2{
		border-top: 0 none;
	}
	a.dep2:hover{
		text-decoration: underline;
	}
	.dep2 cite{
		float: left;
		margin: 5px 8px 0 0;
		width: 3px;height: 3px;
		background-position:-250px -190px;
	}
}
@media(min-width: 998px){
	.gutter{
		/*width: 100%*/
	}
	h1{
		margin-left: 52px;
		width:106px;height:46px;
		background-position: -10px -60px;
	}
	.head .menu-box-tit{
		display: block;
	}
	.head .menu-box{
		position: absolute;left: -1px;top: 32px;
		width: 100%;overflow: hidden;
	}
	.gnb{
		float: right;position: static;width: auto;
	}
	.menu-bg.active:after{
		content: '';
		position: absolute;
		top: 56px;left: 0;bottom: 0;z-index: -1;
		width: 100%;
		background: #787776;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity=90);
		-khtml-opacity: 0.9;
		-moz-opacity: 0.9;
		opacity: 0.9;
	}
	
	a.dep1{
		display: block;
		padding: 10px 24px 24px;
		text-align: center;
		background: none;border: 0 none;
		font-size: 18px;color: #3f3f3f;
	}
	.dep1 span,
	.dep2 span,
	.mid-dot{
		display: none;
	}
	.dep1-row{
		float: left;
		text-align: center;
	}
	.dep2-group{
		clear: both;
		padding: 20px 0 52px;
	}
	.head .dep2-group:after{
		content: "";
		position: absolute;
		top: 80px;bottom: 20px;
		z-index: -1;
		width: 181px;display: block;
		border-left: 1px solid #908e8d;
	}
	.head .dep1-row:first-child .dep2-group:after{
		border-left: 0 none;
	}
	a.dep2{
		display: block;
		padding: 8px 0px;
		text-align: center;
		background: none;
		border: 0 none;
		font-size: 15px;color: #fff;
	}
	a.dep2:hover{
		text-decoration: underline;
	}
	a.dep2 cite{
		display: none;
	}
}
@media(min-width: 1054px){
	.gutter{
		width: 1024px;
	}
	h1{
		margin-left: 52px;
		width:106px;height:46px;
		background-position: -10px -60px;
	}
	.head .menu-box-tit{
		display: block;
	}
}

/*------------    Body    ------------*/
.body{
	clear: both;
	overflow: hidden;
}
table{
	width: 100%;
	border-collapse: collapse;
}
.bread-crumb{
	overflow: hidden;
}
.bread-crumb li{
	float: left;
}
.bread-crumb li a{
	display: block;
}
@media(min-width: 320px){
	.pagination{
		clear: both;
		margin-top: 90px;padding: 5px 0;
		overflow: hidden;
		text-align: center;
	}
	.pagination a{
		display: inline-block;
		padding: 5px 10px;
		font-size: 16px;
	}
	.pagination a:hover{
		text-decoration: underline;
	}
	.pagination a.current{
		font-size: 18px;font-weight: bold;
		text-decoration: underline;color: green;
	}
	.pagination .btn-icon{
		width: 10px;height: 20px;
		background: url(../img/main/ir_icon.png) no-repeat;
		text-indent: -8888px;
	}
	.pagination .prev10{
		background-position:-210px 0;
	}
	.pagination .prev{
		background-position:-170px 0;
	}
	.pagination .next{
		background-position:-90px -20px;
	}
	.pagination .next10{
		background-position:-130px -20px
	}
}
@media(min-width: 640px){
	
}
@media(min-width: 1054px){
	.body{
		padding-bottom: 60px;
	}
}

/*------------    Foot    ------------*/
.foot{
	clear: both;
	overflow: hidden;
}
.foot-top{
	
	background: #d4d4d4;text-align: center;
}
.foot-top .gutter{
	font-family: "wHYGothic_A1_200";
	color: #363636;
}
.foot-top .gutter strong:first-child + strong{
	color:#ec583a;font-family: "wHYGothic_A1_550";
}

.foot-body{
	
	overflow: hidden;
	background: #606060;
}
.foot-tail{
	padding: 26px 0 26px;
	background: #fff;
}

.foot .menu-box{
	float: left;
	overflow: hidden;
}
.foot .menu-box ul{
	float: left;
	overflow: hidden;
}
.foot-menu-01{
	margin-right: 52px;
}
.foot-menu-02{
	margin-right: 36px;
}
.foot .dep1-row{
	clear: left;
}
.foot .dep1{
	padding: 0;
	color: #fff;text-align: left;
}
.foot .dep2-group{
	padding: 10px 0px 23px;
}
.foot .dep2{
	text-align: left;
	padding: 6px 0;
}

.foot .location h4{
	position: relative;
	font-family: 'wHYGothic_A1_800';color: #fff

}
.foot .location h4 span{
	position: absolute;
	width:43px;height:2px;
	background: url(../img/main/ir_icon.png) no-repeat 0px 0px
}
.foot .location p{
	font-family: 'wHYGothic_A1_400';color: #fff;
}
.foot .location .map{
	display: block;
}
.foot-tail{
	text-align: center;
	color: #454545;
}
.copyright{
	font-family: 'wHYGothic_A1_150';color: #454545
}
@media(min-width: 320px){
	.foot{
		margin-top: 8px;
	}
	.foot-top{
		height: 50px;
		padding: 0px 40px 0;
	}
	.foot-top .gutter{
		font-size: 15px;
		padding: 8px 0 0;
	}
	.foot-body{
		height: 329px;
		padding: 0 0px 0;
	}
	.foot-body .gutter{
		padding-top: 26px;	
	}

	.foot .location{
		float: none;
		margin-top: 6px;
		text-align: center;
	}
	.foot .location h4{
		font-size: 15px;
	}
	.foot .location h4 span{
		right: 50%;top: -5px;margin-right: -21px;
	}
	.foot .location p{
		margin-top: 24px;
		font-size: 11px;line-height: 1.2;
	}
	.foot .location .map{
		margin: 30px auto 0;
		/*margin-left: -22px;*/
		width: 320px;height: 155px;
		background: url(../img/main/map_320.png) no-repeat left top;
	}
	.copyright{
		font-size: 10px;
	}
}
@media(min-width: 640px){
	.foot{
		margin-top: 4px;
	}
	.foot .gutter{
		width: 100%;
	}
	.foot-top{
		height: 66px;
		padding: 23px 0px 0;
	}
	.foot-top .gutter{
		font-size:20px;
	}
	.foot .location{
		float: none;
		margin-top: 6px;
		text-align: center;
	}
	.foot .location h4{
		font-size: 22px;
	}
	.foot .location h4 span{
		right: 50%;top: -5px;margin-right: -21px;
	}
	.foot .location p{
		margin-top: 14px;
		font-size: 14px;
	}
	.foot .location .map{
		margin: 20px auto 0px;
		width: 522px;height: 155px;
		background: url(../img/main/map_640.png) no-repeat left top;
	}
	.copyright{
		font-size: 12px;
	}
}
@media(min-width: 998px){
	.foot{
		margin-top: 0px;
	}
	.foot-top{
		height: 66px;
		padding-top: 0;
	}
	.foot-top .gutter{
		padding-top: 24px;
		font-size:24px;
	}
	.foot .location img{
		margin-top: 15px;
	}
	.foot .location{
		float: right;
		margin-top: 6px;
		text-align: right;
	}
	.foot .location h4 span{
		right: 0;top: -5px;
		margin-right: 0;
	}
	.foot .location p{
		margin-top: 15px;
		font-size: 14px;line-height: 1.4;
	}
	.foot .location .map{
		/*margin: 22px 0 0 0px;*/
		width: 522px;height: 155px;
		background: url(../img/main/map_640.png) no-repeat left top;
	}	
	.copyright{
		font-size: 14px;
	}
}
@media(min-width: 1025px){
	.foot .gutter{
		width: 1024px;
	}
	.foot .location img{
		margin-top: 15px;
	}
	.foot-top .gutter{
		font-size:24px;
	}
	.foot-body{
		height: 375px;
		padding: 0px 15px 0px;
	}
	.foot-body .gutter{
		padding: 45px 0 60px;
	}
	.foot .location{
		float: right;
		margin-top: 6px;
		text-align: right;
	}
	.foot .location h4{
		font-size: 22px;
	}
	.foot .location h4 span{
		right: 0;top: -5px;
		margin-right: 0;
	}
	.foot .location img{
		margin: 15px 0 0 0;
	}
}
