.faq h2,
.qna h2{
	font-family: 'wHYGothic_A1_800';
}
.faq .content-head h3,
.qna .content-head h3{
	font-family: 'wHYGothic_A1_600';
}
.faq .content-head .h3-comment,
.qna .content-head .h3-comment{
	font-family: 'wHYGothic_A1_200';
}
.faq .content-head h4,
.faq .view-head h4,
.faq .view-head-info span,
.faq table th{
	font-family: 'wHYGothic_A1_600'
}
.faq table td{
	font-family: 'wHYGothic_A1_300';
}
.faq table td a:hover{
	text-decoration: underline;
}
.qna .row-comment{
	font-family: 'wHYGothic_A1_400'
}
.qna form label{
	font-family: 'wHYGothic_A1_600';
}
.qna .btn-submit{
	font-family: 'wHYGothic_A1_600';
}
@media(min-width: 320px){
	.faq h2,
	.qna h2{
		margin-top: 120px;
		font-size: 50px;color: #454545;text-align: center;
	}
	.faq .content-head,
	.qna .content-head{
		margin-top: 70px;
		overflow: hidden;
	}
	.faq .content-head h3,
	.qna .content-head h3{
		text-align: center;
		font-size: 24px;
	}
	.faq .h3-comment,
	.qna .h3-comment{
		display: block;
		margin-top: 20px;
		text-align: center;
		font-size: 16px;
	}
	
	.faq .content-row.first-row{
		margin-top: 66px;
	}
	.faq table{
		border-top: 5px solid #474747;
	}
	.faq tr{
		border-bottom: 1px solid #474747;
	}
	.faq thead tr{
		border-top: 2px solid #474747;
	}
	.faq th,
	.faq td{
		padding: 32px 20px 28px;
		font-size: 16px;line-height: 1.0;
		text-align: center;
	}
	.faq .content-row .list-tit{
		text-align: left;
	}

	.qna .row-comment{
		float: right;
		margin-bottom: 14px;
		font-size: 15px;
		color: #f00;
	}
	.qna .content-row.first-row{
		margin-top: 124px;
	}
	
	.qna form{
		clear: both;float: none;
		padding-bottom: 100px;
		border-top: 4px solid #454545;
	}
	.qna fieldset{
		clear: both;overflow: hidden;
		padding: 0 32px;
		border-bottom: 1px solid #454545;
	}
	.qna fieldset input{
		display: inline-block;
		height: 36px;
		border: 1px solid #d2d2d2;
		border-radius: 4px;
	}
	.qna fieldset span{
		display: block;float: left;
		padding: 30px 0;
		width: 50%;
		text-align: left;
	}
	.qna fieldset label{
		display: inline-block;
		width: 20%;
		color: #454545;font-size: 20px;text-align: left;
	}
	.qna .qna-tit-row{
		border: 0 none;
	}
	.qna .qna-tit-row span{
		width: 100%;
		padding: 30px 0 0;
	}
	.qna .qna-tit-row label{
		width: 10%;
	}
	.qna .qna-tit{
		width: 80%;
	}
	.qna textarea{
		width: 80%;height: 222px;
		border: 1px solid #d2d2d2;border-radius: 4px;
	}
	.qna .text-row span{
		width: 100%;
	}
	.qna .text-row label{
		float: left;
		width: 10%;
		height: 224px;
		line-height: 224px;
	}
	.qna .btn-submit{
		display: block;
		margin: 72px auto 0;
		width: 342px;padding: 22px 0 20px;
		background: #31a8e0;text-align: center;
		border-radius: 4px;color: #fff;
		font-size: 20px;
	}
	.qna-end{
		min-height: 600px;
	}
}