.sm100 h2{
	font-family: 'wHYGothic_A1_300';
}
.sm100 h2 strong{
	font-family: 'wHYGothic_A1_700';
}
.sm100 .content-head li{
	font-family: 'wHYGothic_A1_300';
}
.sm100 h3{
	font-family: 'wHYGothic_A1_800';
}
.sm100 .h3-comment{
	font-family: 'wHYGothic_A1_400';
}
.sm100 .content-row li{
	font-family: 'wHYGothic_A1_400';
}
.sm100 .content-row li h4{
	font-family: 'wHYGothic_A1_800';
}
.sm100 .content-row li h4 span{
	font-family: 'wHYGothic_A1_300';	
}
.sm100 .content-row{
	overflow: hidden;
}
.sm100 .spec-comments{
	font-family: 'wHYGothic_A1_400';
}
@media(min-width: 320px){
	.sm100 .content-head{
		height: 651px;
		background: url(../img/prod/bg_head-fs8.png) repeat-x left top;
		text-align: center;
	}
	.sm100 h2{
		padding-top: 92px;
		font-size: 57px;color: #626262;font-weight: normal;line-height: 56px;
	}
	.sm100 .content-head ul{
		background: #000;
		margin-top: 32px;
		height: 470px;
		background: url(../img/prod/head_img-fs8.png) no-repeat center bottom;
	}
	.sm100 .content-head li{
		display: inline-block;
		font-size: 14px;color: #626262;line-height: 24px;
	}
	.sm100 .content-row{
		margin-top: 240px;
	}
	.sm100 .prod-deco-1{
		display: block;
		margin : 0 auto;
		width: 173px;height: 3px;background: #3f3f3f;
	}
	.sm100 h3{
		margin-top: 50px;
		font-size: 40px;color: #3f3f3f;line-height: 1.0;
	}
	.h3-comment{
		display: inline-block;
		margin-top: 16px;
		font-size: 16px;color: #3f3f3f;
	}
	.sm100 .content-row.first-row img{
		float: none;
		display: block;
		width: 100%;
		max-width: 570px;
		margin: 64px 0px 0 0;
	}
	.sm100 .content-row.first-row ul{
		clear: left;
		margin-top: 25px;margin-left: 0px;
		color: #f00;
	}
	.sm100 .content-row.first-row li{
		padding-left: 20px;
		background: url(../img/main/ir_icon.png) no-repeat -250px -306px;
		text-align: left;
		font-size: 16px;line-height: 32px;
	}
	.sm100 .feats{
		margin-top: 170px;
	}
	.sm100 .feats img{
		float: none;
		width: 100%;
		max-width: 500px;
	}
	.sm100 .feats .row{
		width: auto;
	}
	.sm100 .feats .row div{
		float: none;
		text-align: center;
		width: auto;
		padding: 55px 0 0 0px;
	}
	
	.sm100 .content-row li h4{
		font-size: 48px
	}
	.sm100 .content-row li h4 span{
		display: block;
		font-size: 26px;line-height: 36px;
	}
	.sm100 .content-row li .h4-comment{
		display: block;
		font-size: 16px;line-height: 1.4;
	}
	.sm100 .feats .row .feat-comment{
		clear: both;float: none;
		padding: 0;
		padding-top: 48px;
		width: auto;
	}
	.feat-comment span{
		display: block;
		font-size: 16px;line-height: 20px;
	}
	.feat-comment span:first-child{
		font-size: 20px;
	}
	.feat-comment span:first-child + span{
		margin-top: 10px;
	}
	.sm100 .feats li{
		clear: both;
		margin-top: 122px;overflow: hidden;
	}
	.sm100 .feats .h4-comment li{
		margin-top: 0;
	}
	.sm100 .specs img{
		margin-top: 104px;
		width: 100%;
		max-width: 1024px;
	}
	.sm100 .spec-comments span{
		display: block;
		text-align: left;
	}
	.sm100 .spec-comments span:first-child{
		margin-top: 76px;
	}
	.sm100 .spec-tables{
		margin-top: 170px;
	}
	.sm100 .spec-tables table{
		border-left: 1px solid #989898;
	}
	.sm100 .spec-tables th{
		background: #434444;
		color: #fff
	}
	.sm100 .spec-tables th{
		padding: 12px 0;
	}
	.sm100 .spec-tables td{
		padding: 8px 0;
	}
	.sm100 .spec-tables tr{
		border-bottom: 1px solid #989898;
	}
	.sm100 .spec-tables thead th,
	.sm100 .spec-tables td{
		border-right: 1px solid #989898;
	}
	.sm100 .spec-tables tr td:last-child{
		text-align: left;
		padding-left: 24px;
	}
}
@media(min-width: 992px){
	.sm100 .content-row.first-row img{
		float: left;
		display: block;
		width: auto;
		margin: 124px 30px 0 0;
	}
	.sm100 .content-row.first-row ul{
		clear: none;
		margin-top: 265px;margin-left: 604px;
		color: #f00;
	}
	
}
@media(min-width: 1200px){
	.sm100 .feats img{
		float: left;
	}
	.sm100 .feats .row{
		width: 1024px;
		margin: 0 auto;
	}
	.sm100 .feats .row div{
		float: right;
		padding: 155px 0 0 18px;
		width: 500px;
		text-align: left;
	}
}